# App
NODE_ENV=development
PORT=3000
FRONT_URL=http://localhost

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=srm_db
DB_USER=srm_user
DB_PASSWORD=srm_pass

# Pricing
BASE_RATE_MONTHLY=0.01

# Observability
LOG_LEVEL=info
